body{
    background-color: initial !important;
    background-image: url('../../img/background2.png') !important;
    background-size: 100% ;
    font-family: Montserrat !important;
}

.fontHere{
    font-family: Montserrat !important;
}

nav.header-navbar{
    margin: 0px 0px !important;
    width: 100% !important;
}

div.main-menu{
    top: 70px !important;
}

nav.header-navbar{
    background: linear-gradient(177.53deg, #5F0000 0%, #310000 100%);
}

input.search-txt{
    background-color: rgba(38,43,73,0.2) !important ;
    mix-blend-mode: normal !important;
    border: 1px solid #FFFFFF !important;
    border-radius: 6px !important;
    width: 300px !important;
}

div.market-body{
    width: 80%;
    margin: auto;
}

.default{
    background-color: rgba(179,179,179,0.1) !important;
    mix-blend-mode: normal !important;
    border-radius: 6px !important;
}

div.tab-pane{
    background-color: transparent !important;
}

.nav-tabs a.nav-link{
    color: #5D6C76 !important;
    background-color: transparent !important;
}

.nav-tabs a.nav-link.active{
    color: white !important;
}

.nav.nav-tabs .nav-item .nav-link.active:after{
    background: none !important;
    background-color:  #FF0039 !important;
}


