body{
    background-color: initial !important;
    background-image: url('../../img/background.jpg') !important;
    background-size: 100% 100%;
}
nav.header-navbar{
    margin: 0px 0px !important;
    width: 100% !important;
}

div.main-menu{
    top: 70px !important;
}

nav.header-navbar{
    background: linear-gradient(177.53deg, #5F0000 0%, #310000 100%);
}

input.search-txt{
    background-color: rgba(38,43,73,0.2) !important ;
    mix-blend-mode: normal !important;
    border: 1px solid #FFFFFF !important;
    border-radius: 6px !important;
    width: 300px !important;
}

.default{
    background-color: rgba(179,179,179,0.1) !important;
    mix-blend-mode: normal !important;
    border-radius: 6px !important;
}

.default1{
    background-color: rgba(0, 0, 0, 0.2) !important;
    border: 1px solid rgba(255, 255, 255, 0.2) !important;
    backdrop-filter: blur(13.5914px) !important;
    border-radius: 7.38502px !important;
}

div.tab-pane{
    background-color: transparent !important;
}

.nav-tabs a.nav-link{
    color: #5D6C76 !important;
    background-color: transparent !important;
}

.nav-tabs a.nav-link.active{
    color: white !important;
}

.nav.nav-tabs .nav-item .nav-link.active:after{
    background: none !important;
    background-color:  #FF0039 !important;
}

.tab-background{
    background: rgba(0, 0, 0, 0.2) !important;
    border: 1px solid rgba(255, 255, 255, 0.2) !important;
    backdrop-filter: blur(13.5914px) !important;
    /* Note: backdrop-filter has minimal browser support */    
    border-radius: 6px !important;
}

.default2{
    mix-blend-mode: normal !important;
    background-color: rgba(0, 0, 0, 0.7) !important;
    border: 1px solid #373737 !important;
    border-radius: 6px !important;
}

.dropdown-menu::before{
    background-color: rgba(0, 0, 0, 0.2) !important;
    border-top: 1px solid rgba(255, 255, 255, 0.2) !important;
    border-left: 1px solid rgba(255, 255, 255, 0.2) !important;
}

.dropdown-item:hover{
    background-color: rgba(0, 0, 0, 0.2) !important;
}
